

<div class="banner">
    
    <img src="../../../assets/img/istockphoto.jpg">
  <div class="content">
      <h2>Full stack</h2>
      <p>OBJECTIVE OF THE COURSE</p>

  </div>
</div>

<!-- about -->

<section class="about">
    <div class="contentBx">
        <h2 class="heading">About the program</h2>
        <p class="text">jhdsyiucugnlfdvredbiujfhscudjhcviu jdh<br><br>nksxdksjfjslkcxm </p>
    </div>
    <div class="imgBx"></div>
</section>

<!-- angenda and course hl -->

<section class="services">
    <h2 class="heading">AGENDAs</h2>
    <p class="text">bdfcieygirhfdvcurh bchiencg khcnfdsj </p>
    <div class="container">
        <div class="serviceBx">
            <div> 
                <img src="../../../assets/img/hlgts.png">
                <h2>Highlights</h2>
            </div>
        </div>
    </div>
</section>

<!-- highlight -->
<section class="technology">
    <div class="contentBx">
        <h2 class="heading">Highlights of the program</h2>
        <p class="text">dcndn</p>
    </div>
    <div class="imgBx">
        <img src="../../../assets/img/ictak.png">
    </div>
</section>

<!-- clients -->
<section class="client">
    <h2 class="heading">Our Clients</h2>
    <p class="text">Gaining a better knowledge on Data Science project workflow and latest developments in field of machine learning.
        Understanding of Advanced Analytic tools and complex techniques in Statistics and ML.
        Project completion results in a data product, a strong indicator of your expertise in the field of data science.
        Employability skills are enhanced with the current IT scenario with efficient project management skills</p>
    <div class="imgBx">
        <img src="../../../assets/img/ictak.png">
        <img src="../../../assets/img/ictak.png">
        <img src="../../../assets/img/ictak.png">
        <img src="../../../assets/img/ictak.png">
    </div>
</section>

<!-- entrance test details -->
<section class="entrance">
    <div class="eligibility">
        <h2 class="heading"> Eligibility</h2> <br><br>
        <p class="text">Graduates from Engineering/Science or 3Yr-Diploma in any of th engineering branches, having a foundation level knowledge (plus two equivalent) in Mathematics and Computer fundamental skills, can apply for the Accelerated Block chain Competency Development (ABCD) Program. 

            Please note in case we, ICT Academy of Kerala detect any ineligibility at any stage the candidature will be cancelled accordingly.
            
            Age Limit  – 56</p>
    </div>
      <main>
        <div class="content">
          <h2 >Entrance test Details</h2>
          <br><br>
          <p class="text1">General Aptitude Test 
            Applicable only for those who wish to avail scholarship
            
            Certified Specialist in Data Science and Analytics
            
            Topics
            
            Numerical Ability 
            Verbal Ability 
            Logical Reasoning
            Data Interpretation 
            The Duration of the Test will be 60 mins(15QS in each module) 
            
            Students who have completed their graduation, but awaiting the final results can also apply</p>
        </div>
      </main>
      
      <!-- <div class="one">
        <div class="two"></div>
      </div>
         -->
</section><br>

<section>
    <div class="one">
        <div class="two"></div>
      </div>
</section>


<section id="info">
    <div class="row">
      <div class="card">
        <h2 class="heading">Course Fees</h2>
        <p class="text">Rs 19,700 plus GST

            Zero cost EMI for 6 months is available from the partner finance company.The disbursement of zero cost
             is subject to the approval of our finance partner named Finance Peer
            
            Deferral Policy: (Post Programme Commencement)
            
            If a student is facing severe issues in dedicating time to the course, we provide the 
            opportunity for the student to defer to another batch.A student can request for deferral 
            only once and to either of the scheduled cohorts to start in the next 1 year from the batch 
            
            start date of the initial batch the student enrolled for.The student will be required to pay
             a deferral fee of Rs 2000.</p>
      </div>
      <div class="card">
        <h2 class="heading">Refund Fees</h2>
        <p class="text">A refund of course fees advance will be made within 30 days of entrance examination or 5 days before the batch commencement whichever is earlier, provided the candidate furnishes the required bank account details for initiating the refund. Refund cannot be claimed for not furnishing the details on time . The refund is not applicable to the registration
             fee. We do course orientation before 6 or 7 days of the batch commencement date to set the expectations.</p>
      </div>
    </div>
  </section>


  <section class="about">
    <div class="contentBx">
        <!-- <h2 class="heading">  -->

            <div class="wrapper1">
                <div class="card1">
                  <h1>
                    <span class="enclosed">important</span>dates
                  </h1>
                </div>
              </div>



        <!-- </h2>
        <p class="text">jhdsyiucugnlfdvredbiujfhscudjhcviu jdh<br><br>nksxdksjfjslkcxm </p> -->
    </div>
    <div class="contentBx">
        <!-- <p class="text"> -->
            <ul class="text">
          <li>  Last Date of Registration : 12th July 2021 </li>

           <li> of Entrance Test :  17th July 2021</li>

           <li> of submitting Documents and Fee payment :July 20 2021</li>

           <li> of Batch Commencement : 22nd July 2021</li>
           </ul>
        <!-- </p> -->
    </div>
</section>